<div class="container text-center">
    <br>
    <h1>Fundación Cultura de Trabajo</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <h2>
                <span class="badge badge-pill badge-dark estiquetasInfo">Cant. damnificados sin padrino:
                    {{ cantSinPadrino }}</span>
            </h2>
        </div>
        <div class="col-lg-6">
            <h2>
                <span class="badge badge-pill badge-dark estiquetasInfo">Cant. damnificados sin trabajo:
                    {{ cantSinTrabajo }}</span>
            </h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-6">
            <h2>
                <span class="badge badge-pill badge-dark estiquetasInfo">Cant. empleos disponibles:
                    {{ cantEmpleosDisponibles }}</span>
            </h2>
        </div>
        <div class="col-lg-6">
            <h2>
                <span class="badge badge-pill badge-dark estiquetasInfo">Cant. cursos disponibles:
                    {{ cantCursosDisponibles }}</span>
            </h2>
        </div>
    </div>
</div>